.header_menu{
    width: 100%;
    height: 65px;
    background-color: #243B93 ;
    border: 1px solid  #243B93;
    display: flex;
    margin: 0 auto;
}


body{
    overflow-x: hidden;
    background-color: #FBE4FF;
    margin: 0 auto;
}

.logo{
    padding: 7px 0px 8px 10%; 
}

.menu{
    color: white;
    text-decoration: none;
    font-size: 16px;
    line-height:1.5em; 
    padding: 20px 0 20px 5%;
    }
.hlobus{
    padding: 7px 0 5px 3%;   
}

.linguage{
    padding: 23px 0 5px 1%;   
}
.reserve_house{
    width: 100%;
    height: 85px;
    background-color: #BFF0FF ;
    font-size: 44px;
    line-height:1.5em; 
    font-style: italic;
    padding: 16px 0 0 10%;
}

.choose_option{
width: 80%;
height:57px;
font-size: 28px;
line-height:2em; 
text-align: center;
background-color: white ;
margin:30px auto;
}

.card{
    width: 80%; 
    height:300px;
    background: linear-gradient(to right, #ADCBD4 0%, #2CBDEB 100%);
    margin: 2rem auto;
    display: flex;
   align-items: center;
    padding: 0 2rem;
    box-sizing: border-box;
    position: relative;
}

.card > div{
    height: 80%;
}

.card_info{
    flex-grow: 3;
    margin-left: 2%;
    box-sizing: border-box;
}

.card_tittle{
    font-size: 36px; 
    font-weight: 800;
    border-bottom: 3px solid white; 
    font-style: italic;
    width: 100%;
}

.card_description{
font-size: 22px;
width: 100%;
height: 190px;
background-color: #EDFBFF;
line-height:1.3em; 
margin-top: 10px;
box-sizing: border-box;
padding: 2%;
}

.card_img{
    flex-grow: 1.5;
    width: 100%;
    height: 100%;
}

.img_star{
    z-index: 1;
    right: 10px;
    top: 10px;
    position: absolute;
    width: 48px;
    height: 46px;

}

.button{
    color: white;
    text-decoration: none;
    border: 2px solid #243B93;
    border-radius: 30px;
    font-size: 24px;
    width: 210px;
    height: 46px; 
    display: block;
    text-align: center;
    line-height:1.7em; 
    background-color: #243B93;
    top: 235px;
    right: -40px;
    position: absolute;

}

.card:hover{
    background: linear-gradient(to right, #2CBDEB 0%, #2CBDEB 100%);
    box-shadow: -16px 21px 30px 4px lightblue;
}

.card:hover path{
 fill: yellow;
}

.cards:hover .button{
    background-color: #EF075B;
    border: 2px solid #EF075B;
}

