.box{
    width: 404px;
    height: 490px;
    background-color: black;
    text-align: center;
color: white;
margin:auto; 
}
.image{
    padding: 13px; 
}
.screen{
    background-color: #F0FFF0;
}
a{
    color: white;
    text-decoration: none;
    border: 4px solid white;
    padding: 10px;
    margin: 20px 58px;
    font-size: 14px;
    width: 302;
    height: 50; 
    display: block;
    }
.welcome{
    padding: 13px;
    font-size: 29px;
    letter-spacing: 11px;
}