body{
    margin: 0 auto;
    background-color: #E5E5E5;
    overflow-x: hidden;
}

input[type=email], input[type=tel], input[type=date], input[type=text],input[type=search] {
    width: 100%;
    height: 15px;
    padding: 15px;
    margin: 5px 0 10px 0;
    display: inline-block;
    background: white;
    border-radius: 4px;
    box-sizing: border-box;
}

.row  {
    display: flex;
    border-bottom: 3px solid #D1D1D1;
}

.column {
    flex: 40%;
    margin-left: 3%;
}

.main_flow , .maternity_information, .official_use, .system_information {
   
    margin-left: 3%;
    margin-right: 3%;
}

h1, h2,p{
    margin-left: 3%;
}

#Intake, #application_registration, #application_category, #exempt, #other_known, #case_category, #arrears_only, #assigned_county, #intergovermental, #special_handling, #IV-D_indicator {
    width: 100%;
    padding: 8px;
    margin: 5px 0 10px 0;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
}

.text_blue{
color: blue;
}

input[type=checkbox], #other_known, #special_handling, .lupa > .text_blue {
    margin-bottom: 30px;
}

.checkbox_purged input[type=checkbox]{
    margin-top: 91px;
}

.maternity_information input[type=checkbox]{
    margin-top: 35px;
}
  
  .lupa::after {
    position: absolute;
    content: '';
    display: block;
    right: 10px;
    top: 28px;
    background-image: url(../img/lupa.svg);
    background-color: white;
    width: 25px;
    height: 25px;
   
  }

  .lupa {
    position: relative;
  }

  .next_btn {
    width: 69px;
    height: 40px;
    background-color: #015FC7;
    color: white;
    margin: 20px 3% 100px 92%;
  }

  input[type=checkbox]{
    accent-color: #FF00FF;
  }