body{
    background-color: #001124;
}

.login_page{
    display: flex;
    align-items: flex-start;
}

.login_img{
margin-top: 100px;
}

.login_form{
    margin-top: 130px;
    margin-left: 10%;
}

h1{
    color: white;
    font-size: 45px;
}

input[type=email], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 10px 0;
    display: inline-block;
    border: none;
    background: white;
  }

  p{
    color: white;
  }
 
  button {
    width: 180px;
    height: 43px;
    background-color: #015FC7;
    color: white;
  }

  .register_page{
    display: flex;
    align-items: flex-start;
}

.register_img{
margin-top: 50px;
margin-left: 10%;
}

.register_form{
    margin-left: 15%;
}

input[type=text], input[type=date],input[type=tel]  {
    width: 100%;
    padding: 15px;
    margin: 5px 0 5px 0;
    display: inline-block;
    border: none;
    background: white;
  }

  .submit_btn{
    margin: 0 auto;
    display: block;
  }