:root{
    --color-blue: #0072DB
}

.baner{
    background-image:   url("../image/vertical_flag.png"), url("../image/Kyivfon.png");
    background-repeat: no-repeat;
    background-position: 130px 240px, 100%;
    background-size: 23px, 100%;
}

.baner_description{
color: white;
margin:auto;
font-size: 48px;
line-height:1.5em;
padding: 226px; 
font-weight: 800;
}

body{
    margin: 0;
    overflow-x:hidden;
}

.card{
    display: inline-block;
    width: 30%;
    border: 5px solid #0D095F ;
    min-height: 481px;
    border-radius: 34px;
    box-shadow: -16px 21px 30px 4px lightblue;
}

.card_margin{
margin: 0 2.5%;
}
.card_description{
    color: orange;
    font-size: 20px;
    line-height:1.5em;
    padding: 0 0 0 10px;
}

.cards{
    min-width: 992px;
    max-width: 1200px;
    margin: 0 auto;
}
.card_img > img {
width: 100%;
}

.card_tittle{
    color: var(--color-blue);
    font-size: 24px;
    line-height:1.5em;
    padding: 0 0 0 10px;
    font-weight: 800;
}

.header{
    width: 100%;
    height: 110px;
    text-align: center;
line-height:2em; 
font-size: 48px
}
.header_colortext{
color: yellow;
}

.header_color{
    color: blue;
}

.tittle_all_cards{
    width: 100%;
    height: 170px;
}

.tittle_all_cards_description{
    font-size: 40px;
    line-height:2.5em;
    padding: 0 0 0 130px;
    font-weight: 800;
}

.tittle_map{
    width: 600px;
    height: 80px;
    border-bottom: 7px solid #1400FF;
    font-size: 40px;
    font-weight: 800;
}

.tittle_map_box{
    width: 100%;
    height: 160px;
    padding: 50px 430px 30px 460px;

}

.Ukraine_map > img {
    display: block;
    margin: 0 auto;
}

.buttongo{
    color: white;
    text-decoration: none;
    border: 4px solid #2A61F0;
    font-size: 44px;
    line-height:1.5em; 
    width: 499;
    height: 81; 
    display: block;
    margin: 23px 556px 42px 545px;
    text-align: center;
    border-radius: 50px;
    background-color: #2A61F0;
    }
   
    .footer{
        height: 233px;
        width: 100%;
        background-color: #0D0661;
        color: white;
        text-align: center;
        letter-spacing: 1px;
        font-size: 36px;
        line-height:1.5em;
    }

   .footer_mail{
    color: #A89D9D;
    text-decoration: none;
   }

   .footer_phone{
    color: #A89D9D;
    text-decoration: none;
   }
